<div class="container">
  <header class="header">
    <h1><%= @user.name %>のページ</h1>
    <p>メールアドレス: <%= @user.email %></p>
  </header>
  <nav class="menu">
    <ul class="row">
      <li class="col-md-6">参加イベント一覧<br>
        <% @user.participant_managements.each do |participation| %>
          <%= participation.event.title %><br>
        <% end %>
      </li>
      <li class="col-md-6">企画イベント一覧<br>
        <% @user.events.each do |plan| %>
          <%= plan.title %><br>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
